:root {
  --dark: #000;
  --pink: hotpink;
  --gray: #f5f5f5;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.63em;
  color: var(--dark);
  background: var(--gray);
}

a {
  color: var(--dark);
  transition: all 0.3s;
}

a:hover {
  color: var(--pink);
}

h1 {
  font-size: 2.5em;
  line-height: normal;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  line-height: normal;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
  line-height: normal;
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
  background: var(--white);
  padding: 50px;
}

.header {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  font-weight: 900;
}

.logo {
  flex: 1;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.nav li a {
  padding: 15px;
}

.main__content {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 200px 1fr;
}

/*Сайдбар*/
.aside__item {
  margin-bottom: 50px;
}

.aside__item:last-child {
  margin-bottom: 0;
}

.aside__item .aside__title {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 15px;
}

/*Секции*/
.section {
  margin-bottom: 50px;
}

.section::last-child {
  margin-bottom: 0;
}

/*Статьи*/
.articles {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

/*Низ сайта*/
.footer {
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid var(--gray);
}